In [1]:
# Exercise 1: Create a Jupyter Notebook

In [2]:
# Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

# Data Science Tools and Ecosystem

In [3]:
# Exercise 3 - Create a markdown cell for an introduction. (1 pt)

In this notebook, Data Science Tools and Ecosystem are summarized.

In [4]:
# Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

**Objectives:**
* learn how to write Markdown
* List popular languages for Data Science
* List popular libraries for Data Science
* List popular tools for Data Science

In [5]:
# Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

Some of the popular languages that Data Scientists use are:
1. python
2. R
3. SQL
4. Julia

In [6]:
# Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn
4. TensorFlow
5. PyTorch
6. Keras

In [7]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Data Science Tools|
|-|
|Python|
|R|
|SQL|
|Tableau|
|Apache Hadoop|
|Apache Spark|

In [8]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Below are a few examples of evaluating arithmetic expressions in Python
* Addition: 2 + 3
* Subtraction: 5 - 2
* Multiplication: 4 * 6
* Division: 10 / 2
* Exponentiation: 2 ** 4 (2 raised to the power of 4)
* Modulo: 10 % 3 (remainder when 10 is divided by 3)

In [9]:
# Exercise 8 - Create a code cell to multiply and add numbers. (2 pts)

In [10]:
# This a simple arithmetic expression to mutiply then add integers
3 * 4 + 5

17

In [11]:
# Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [12]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

In [13]:
# Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

## Author
Rafael

In [14]:
# Exercise 12 - Share your notebook through GitHub (3 pts)

In [15]:
# Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)